
.divider {
  height: 1px;
  width: 100%;
  background-color: #f0f0f0;
}
.coinItem {
  display: flex;
  align-items: center;
  padding: 22px 0;
}
.coinName {
  flex: 1;
  margin: 0 16px;
  font-family: "PP Telegraf";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}
.coinBalance {
  font-family: "PP Telegraf";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}
.coinImage {
  width: 32px;
  height: 32px;
}