.container {
  margin: 24px 32px;
}
.header {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  color: #101828;
}
.subHeader {
  margin-bottom: 20px;
  font-family: "PP Telegraf";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
  margin-top: 16px;
}
.tabContainer {
  display: flex;
  border-bottom: 2px solid #eaecf0;
  padding-bottom: 16px;
}
.tabItem {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3861fb;
  border-bottom: 2px solid #3861fb;
  padding: 0 16px;
  padding-bottom: 16px;
  margin-bottom: -18px;
  display: flex;
  align-items: center;
}
.tabItem > span {
  display: flex;
  padding: 2px 10px;
  align-items: center;
  border-radius: 16px;
  background: var(--primary-25, #f1f4ff);
  mix-blend-mode: multiply;
  margin-left: 8px;
}
.searchContainer {
  margin-top: 24px;
  background: #ffffff;
  border: 1px solid #eaecf0;
  border-radius: 12px;
  min-height: 400px;
}
.searchHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #f9fafb;
  padding: 0 24px;
  border: 1px solid #eaecf0;
  border-radius: 8px 8px 0px 0px;
}
.input {
  flex: 1;
  margin: 10px 16px;
  padding: 8px 0px;
  color: #475467;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background-color: inherit;
  border: none;
  cursor: text;
}
.input::placeholder {
  color: #667085;
}
.searchHint {
  margin: 16px 0;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #98a2b3;
}
.searchHint > span {
  color: #475467;
}
.searchButton {
  height: 36px;
}
.resultText {
  margin: 16px 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #98a2b3;
}
.actionButton {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}
.modalContainer {
  width: 500px;
}
.divider {
  height: 1px;
  background-color: #eaecf0;
  margin: 20px 0;
}
.keyValue {
  display: flex;
  justify-content: space-between;
}
.key {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}
.value {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
}
.valueStatus {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #099250;
  padding: 2px 8px;
  background-color: #f6fef9;
  border-radius: 16px;
}
.date {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #a3a3a3;
}
.modalButton {
  margin-top: 56px;
}
.dropModal {
  cursor: pointer;
  width: fit-content;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #475467;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filterTitle {
  font-family: "PP Telegraf";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #98a2b3;
}
.dropModalContainer {
  background: #ffffff;
  border: 1px solid #eaecf0;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08),
    0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  border-radius: 8px;
  width: 350px;
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
}
.checkbox {
  margin: 10px 0;
  font-family: "PP Telegraf";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #344054;
}
.nameInput {
  margin: 5px 0;
}
.dropModalFooter {
  display: flex;
}
.dropModalButton {
  margin-right: 10px;
}
.dropModalButton2 {
  flex: 1;
}
.dropdownContainer {
  width: fit-content;
  margin-top: 24px;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
}
.printButton {
  display: flex;
  align-items: center;
}
.printButton > img {
  margin-right: 10px;
}
.headerButtons {
  display: flex;
  align-items: center;
}
.headerButtons > div:first {
  margin-right: 24px;
}
.filterActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.recordTransaction {
  display: flex;
  align-items: center;
  color: var(--primary-500, #3861fb);
  font-family: "PP Telegraf";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
.recordTransaction > img {
  margin-right: 8px;
}
.transactionId > p {
  color: var(--blue-500, #2e90fa);
  font-family: "PP Telegraf";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-right: 5px;
}
.receiptContainer {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  border: 6px solid var(--gray-50, #f9fafb);
  background: var(--gray-100, #f2f4f7);
}
.modalHeader {
  color: var(--gray-900, #101828);
  font-family: "PP Telegraf";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  display: flex;
}
.modalHeader > span {
  display: flex;
  padding: 2px 8px;
  align-items: center;
  border-radius: 16px;
  background: var(--gray-300, #d0d5dd);
  mix-blend-mode: multiply;
  color: var(--gray-700, #344054);
  text-align: center;

  /* Text xs/Medium */
  font-family: "PP Telegraf";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  margin-left: 16px;
}
.content {
  display: flex;
  justify-content: space-between;
}
.modalText {
  color: var(--gray-400, #98a2b3);
  font-family: "PP Telegraf";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 16px 0;
  display: flex;
  align-items: center;
}
.modalText > span {
  color: var(--gray-900, #101828);
  font-family: "PP Telegraf";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  margin-left: 8px;
}
.success {
  display: flex;
  padding: 2px 8px 2px 6px;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  background: var(--green-50, #edfcf2);
  mix-blend-mode: multiply;
  margin-left: 10px;
  color: var(--green-700, #087443);
}
.success > div {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #16b364;
  text-align: center;

  /* Text xs/Medium */
  font-family: "PP Telegraf";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}
.modalFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.closeDownloadButtons {
  display: flex;
  align-items: center;
}
.buttonContainer {
  display: flex;
  align-items: center;
}
.buttonContainer > img {
  margin-left: 8px;
}
