.navigationStep {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  padding: 0 32px;
}
.navItems {
  display: flex;
  align-items: center;
  flex: 1;
  margin-right: 24px;
}
.navItems > span {
  font-family: "PP Telegraf";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #475467;
}
.navItems > img {
  margin: 0 22px;
}
