.container {
  background-color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 98px;
}
.cardContainer {
  width: 30%;
}
.signinForm {
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 105px;
  margin-bottom: 24px;
}
.header {
}
