.container {
  margin: 24px 32px;
}
.header {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  color: #101828;
}
.subHeader {
  margin-bottom: 50px;
  font-family: "PP Telegraf";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
  margin-top: 16px;
}
.tabContainer {
  display: flex;
  border-bottom: 2px solid #eaecf0;
  padding-bottom: 16px;
}
.tabItem {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
  padding: 0 16px;
  padding-bottom: 16px;
  margin-bottom: -18px;
  cursor: pointer;
}
.tabItemActive {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1570ef;
  border-bottom: 2px solid #1570ef;
  padding: 0 16px;
  padding-bottom: 16px;
  margin-bottom: -18px;
  cursor: pointer;
}
.searchContainer {
  margin-top: 24px;
  background: #ffffff;
  border: 1px solid #eaecf0;
  border-radius: 12px;
  min-height: 400px;
}
.searchHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #f9fafb;
  padding: 0 24px;
  border: 1px solid #eaecf0;
  border-radius: 8px 8px 0px 0px;
}
.input {
  flex: 1;
  margin: 10px 16px;
  padding: 8px 0px;
  color: #475467;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background-color: inherit;
  border: none;
  cursor: text;
}
.modalInput {
  padding: 10px 0px 10px 14px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: var(--Base-White, #fff);

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  margin-bottom: 16px;
  font-size: 16px;
}
.input::placeholder {
  color: #667085;
}
.searchHint {
  margin: 16px 0;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #98a2b3;
}
.searchHint > span {
  color: #475467;
}
.searchButton {
  height: 36px;
}
.resultText {
  margin: 16px 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #98a2b3;
}
.actionButton {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}
.modalHeader {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #101828;
  text-align: center;
}
.divider {
  height: 1px;
  background-color: #eaecf0;
  margin: 20px 0;
}
.keyValue {
  display: flex;
  justify-content: space-between;
}
.key {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}
.value {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #101828;
}
.valueStatus {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #099250;
  padding: 2px 8px;
  background-color: #f6fef9;
  border-radius: 16px;
}
.date {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #a3a3a3;
}
.modalButton {
  margin-top: 16px;
}
.dropModal {
  cursor: pointer;
  width: fit-content;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #475467;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filterTitle {
  font-family: "PP Telegraf";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #98a2b3;
}
.dropModalContainer {
  background: #ffffff;
  border: 1px solid #eaecf0;
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08),
    0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  border-radius: 8px;
  width: 350px;
  padding: 10px 16px;
  display: flex;
  flex-direction: column;
}
.checkbox {
  margin: 10px 0;
  font-family: "PP Telegraf";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #344054;
}
.nameInput {
  margin: 5px 0;
}
.dropModalFooter {
  display: flex;
}
.dropModalButton {
  margin-right: 10px;
}
.dropModalButton2 {
  flex: 1;
}
.dropdownContainer {
  width: fit-content;
  margin-top: 24px;
}
.nameContainer {
  display: flex;
  align-items: center;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #eff8ff;
  color: var(--blue-500, #2e90fa);
  font-size: 16px;
  font-family: "PP Telegraf";
  font-weight: 600;
  line-height: 24px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tableRow {
  cursor: pointer;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 12px;
  background: var(--gray-50, #f9fafb);
  margin-top: 32px;
  padding: 32px;
}

.bodyInputContainer,
.bodyInputContainer2 {
  display: flex;
  width: 100%;
  align-items: center;
}
.bodyInputContainer > p,
.bodyInputContainer2 {
  width: 30%;
  margin-right: 15px;
  color: var(--gray-700, #344054);
  font-family: "PP Telegraf";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.bodyInputContainer > div {
  width: 50%;
}
.bodyFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cancelBtns {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.bodyHeader {
  color: var(--gray-900, #101828);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  margin: 0;
}
.boderSubHeader {
  color: var(--gray-600, #475467);
  font-family: "PP Telegraf";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}
.modalFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.modalFooter > * {
  width: 47.5%;
}
.inputContainer {
  margin-top: 24px;
}
.inputContainer > p {
  color: var(--gray-700, #344054);
  font-family: "PP Telegraf";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 6px;
}
.ratesTab {
  display: flex;
  margin-top: 32px;
  border-radius: 8px;
  border: 1px solid var(--gray-300, #d0d5dd);

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  width: fit-content;
}

.ratesTabItem {
  padding: 10px 16px;
  color: var(--gray-400, #98a2b3);
  font-family: "PP Telegraf";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.ratesIndicator {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #3861fb;
  margin-right: 8px;
}
.ratesContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ratesInputContainer {
  width: 33%;
}
.leftIcon {
  display: flex;
  padding: 10px 12px 10px 14px;
  justify-content: center;
  align-items: center;
  border-radius: 8px 0px 0px 8px;
  background: var(--primary-400, #456dfb);
  height: 100%;
  color: var(--base-white, #fff);
  font-family: "PP Telegraf";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.ratesInputContainer > p {
  color: var(--gray-700, #344054);
  font-family: "PP Telegraf";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 10px;
}
.ratesFooter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
}
.tableContainer {
  border: 1px solid var(--Gray-200, #eaecf0);
  border-radius: 12px;
  overflow: hidden;
}
.tableRowHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--Gray-50, #f9fafb);
}
.tableRowHeader > p {
  padding: 12px 24px;
  border: 0.5px solid var(--Gray-200, #eaecf0);
  color: var(--Gray-600, #475467);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}
.tableRow {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.tableRow > p {
  padding: 12px 24px;
  border: 0.5px solid var(--Gray-200, #eaecf0);
  color: var(--Gray-900, #101828);
  display: flex;
  align-items: center;

  /* Text sm/Bold */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
.editButton {
  color: var(--Blue-600, #1570ef);

  /* Text sm/Bold */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
